@import "../../base";

.container {
  .back-button {
    width: 200px;
    background: none;
    color: white;
    text-align: left;
    margin-top: 0;
    margin: 0 1rem;

    &:hover {
      color: grey;
    }
  }

  .movie-details {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__heading {
      text-align: center;
      margin-bottom: 2rem;
    }

    &__title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__image {
      @include for-phone-only {
        width: 90%;
      }
      width: 400px;
      align-self: center;
      margin-bottom: 2rem;
    }

    .detail-row {
      margin-bottom: 2rem;
    }
  }
}
