.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    height: 40px;
    width: 100%;
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
  }

  &__error-message {
    font-size: 1.5rem;
    color: red;
    margin-top: 1rem;
    font-family: "Montserrat", sans-serif;
  }
}
